body {
	background-color: #EBF7E3;
	
}

h1{
color:#1B3409;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{ 
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 16px;
}

.cuttingboardimg {
	height: auto;
	width: 500px;
}
a {
	text-decoration: none;
}

ul{ 
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large
}

ol{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: large
}